
*, *::before, *::after {
  box-sizing: border-box;
}

a {
  color: inherit;
    text-decoration: none;
}

body {
  margin: 0;
  background-color: #ffffffe6;
  font-family: "Alumni Sans", Arial, sans-serif;
}

main {
  width: 100%;
  margin: 0 auto;
}

header {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color:#DD0000;
}

.header_lightning{
  background-image: url(/src/images/lightnings/lightning.png);
  background-repeat: no-repeat;
  background-position: top center;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  gap: 32px;
  position: relative;
}

.header_ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 1680px;
  margin-inline: auto;
  gap:20px;
}

.header_ul li.center {
  margin-inline: auto;
}

.header_ul li {
  position: relative;
  font-size: 30px;
  font-weight: 700;
  cursor: pointer;
}

.card {
  position: relative;        
  display: inline-block;
  background-color: #000;
  padding: 14px 7px 7px;     
  box-sizing: border-box;
  overflow: hidden;
  cursor: pointer;
}

  .card::before {
  content: attr(data-author);
  position: absolute;
  top: 7px;
  left: 7px;
  background: rgba(0,0,0);
  color: #fff;
  padding: 4px 8px;
  font-size: 16px;
  z-index: 5;
}


.card img {
  display: block;
  width: 100%;
}

.card__footer {
  position: absolute;
  left: 7px;                  
  right: 7px;
  bottom: 0;

  padding: 14px 0 24px;       
  background: rgba(0, 0, 0, 0.9);
  box-sizing: border-box;
}

.card__title {
  margin: 0 0 4px;
  font-size: 16px;
  font-weight: 700;
}

.card__subtitle {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}

.card--small{
  width:390px;
}

.card--wide{
   width:818px;
}

.card--std{
   width:402px;
}

.card--big{
   width:844px;
}

.article_title {
  color:white;
  font-family: "IBM Plex Sans";
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
}

p {
  color:black;
  font-family: "IBM Plex Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.4%;

}

.row {
  display: flex;
  flex-direction: row;
  gap:40px;
  padding-top: 40px;
}

.starter_block{
  padding-bottom: 62px;
  margin-bottom:55px;
}

.cards,
.proizvodstvo {
  max-width: 1680px;
  width: 100%;
  margin: 0 auto;
}

h1 {
font-size:130px;
line-height:100px;
letter-spacing: -0.75%;
margin:0;
  z-index: 100;
}

h2 {
  font-size:64px;
line-height:64px;
letter-spacing: 0%;
margin:0;
  z-index: 100;
}

h3 {
  font-size:52px;
  line-height: 62.4px;
    z-index: 100;
}



.h1 {
font-size:130px;
line-height:100px;
letter-spacing: -0.75%;
margin:0;
font-weight: 600;
  z-index: 100;
}

.h2 {
  font-size:64px;
line-height:64px;
letter-spacing: 0%;
margin:0;
font-weight: 600;
  z-index: 100;
}

.h3 {
  font-size:52px;
  line-height: 62.4px;
  font-weight: 600;
    z-index: 100;
}


.zolotoi_vek{
  background-color: #FFCD00;
  padding-bottom: 62px;
  margin-bottom:55px;
  margin-top:55px;
  padding-top:55px;
}

.serebreniy_vek{
  padding-bottom: 62px;
  margin-bottom:55px;
  margin-top:55px;
  padding-top:55px;
}

.bronzoviy_vek{
  padding-bottom: 62px;
  margin-bottom:55px;
  margin-top:55px;
  padding-top:55px;
  background-color: #DD0000;
}

.Konkurs{
  padding-bottom: 62px;
  margin-top:55px;
  padding-top:55px;
  background-color: #FFCD00;
}

.Izdateli{
  margin-bottom:55px;
}

.column_just{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}

.margin_bot{
  margin-bottom:40px;
  margin-top: 40px;
}

.space_between{
  justify-content: space-between;
  cursor: pointer;
}

.card-photo{
  height: 289px;
}

.card-photo-std{
  height: 402px;
}

.card-photo--big{
 height: 914px;
}

.title_row{
  display:flex;
  justify-content: space-between;
  align-items: flex-end;
}

.column{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  gap:40px;
}

.lightning{
  position: absolute;
}

.header_icons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.icon {
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icon.search {
  background-image: url('../images/icons/search.svg');
}

.icon.vk {
  background-image: url('../images/icons/vk.svg');
}

.icon.tg {
  background-image: url('../images/icons/tg.svg');
}

.footer {
  background: #DD0000;
  color: #fff;
  padding: 60px 80px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer__grid {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
  gap: 64px;
  align-items: start;
  max-width: 1920px;
}

.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer li {
  margin-bottom: 14px;
}

.footer__brand h2 {
  font-weight: 700;
  display: inline-block;
  margin-bottom: 24px;
}

.footer__brand h1 {
  font-weight: 700;
  font-size: 64px;
  display: inline-block;
  margin-bottom: 32px;
  font-family: "Alumni sans";
}

.footer__nav li {
  margin-bottom: 24px;
}

.footer__socials {
  display: flex;
  gap: 16px;
  margin-top: 8px;
}

.footer__socials img {
  width: 28px;
  height: 28px;
  display: block;
}

.footer a {
  color: #fff;
  text-decoration: none;
}



.article_title {
  font-size: 16px;
  opacity: 0.85;
}

.footer a:hover {
  opacity: 1;
}


@media (max-width: 390px) {
  .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* две колонки */
    gap: 12px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }

  /* стандартные карточки занимают одну колонку */
  .card {
    grid-column: span 1;
    width: 100%;
    max-width: 100%;
  }

  /* широкие карточки занимают всю ширину */
  .card--wide,
  .card--big {
    grid-column: span 2;
    width: 100%;
    max-width: 100%;
  }

  /* изображения внутри карточки */
  .card img {
    width: 100%;
    height: auto;
    display: block;
  }

  /* ограничение абсолютных элементов */
  .card__footer,
  .card::before,
  .lightning {
    max-width: 100%;
    left: 0;
    right: 0;
    box-sizing: border-box;
  }
}
