
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FEF6EB;
  font-family: "Alumni Sans", Arial, sans-serif;
}

main {
  width: 1232px;
  margin: 0 auto;
}

header {
  display: flex;
  width: 100%;
  justify-content: center;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  gap: 32px;
  position: relative;
}

.logo {
  font-size: 50px;
  font-weight: 700;
  color: #D51A21;
}

.header_ul {
  display: flex;
  gap: 30px;
  list-style: none;
  align-items: center;
  position: relative;
}

.header_ul li {
  position: relative;
  font-size: 30px;
  font-weight: 700;
  cursor: pointer;
}

.has-submenu {
  position: relative;
}

.has-submenu .submenu {
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  list-style: none;
  padding: 0 10px;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transition: max-height 0.3s ease-out, padding 0.3s ease-out, opacity 0.3s ease-out;
  z-index: 10;
}

.has-submenu .submenu li {
  white-space: nowrap; 
}


.has-submenu:hover .submenu {
  max-height: 500px;
  padding: 10px;
  opacity: 1;
  pointer-events: auto;
}

.burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  z-index: 200;
}

.burger span {
  width: 30px;
  height: 3px;
  background-color: #D51A21;
  transition: 0.3s;
}

.centered {
  display: flex;
 align-items: center;
  flex-direction: column;
}

.cards-section {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.cards-wrapper {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cards-wrapper h2 {
  margin-bottom: 20px;
  text-align: left;
}

.card_block {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.card {
  background-color: white;
  width: 100%;
  max-width: 452px;
  flex: 1 1 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  transition: background-color 0.3s, color 0.3s;
}

.card:hover {
  background-color: #D51A21;
  color: white;
}

.incard {
  margin-left: 52px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}

.in_card_text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.undertext {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  font-weight: 700;
}



.date {
  margin-right: 20px;
}


.card img {
  width: 100%;      
  height: auto;    
  max-width: 100%;  
  display: block;
}

.logo a,
.footer-logo a {
  text-decoration: none;
  color: inherit;
}



h1 {
  margin: 0;
  font-size: 50px;
  color: #D51A21;
}

h2 {
  margin: 0;
  font-size: 50px;
}

h3 {
  margin: 0;
  font-size: 50px;
}

h4 {
  font-size: 30px;
  margin-top: 70px;
  margin-bottom: 0;
}

p {
  font-family: "ibm-plex-sans", Arial, sans-serif;
  font-size: 22px;
  font-weight: 700;
}


footer {
  width: 100vw;
  background-color: #D51A21;
  color: white;
  padding: 50px 0;
  display: flex;
  justify-content: center;
}

.footer-container {
  max-width: 1232px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-logo {
  color: white;
  font-size: 50px;
}

.footer_ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 25px;
}

.footer-column a {
  color: inherit;
  text-decoration: none;
}

.center-height {
  display: flex;
  align-items: center;
}


.about_grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  align-items: start;
}

.left {
  grid-row: 1 / span 2;
}

.right_top {
  grid-column: 2;
  grid-row: 1;
}

.right_bottom {
  grid-column: 2;
  grid-row: 2;
  align-self: end;
  text-align: right;
}

.values {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.values h2,
.values p {
  text-align: left;
}

.values h4 {
  align-self: flex-end;
  text-align: right;
}


.red-block {
  width: 100%;
  background-color: #D51A21;
  padding: 110px 0;
}

.red-block .container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.red-block p {
  position: relative;
  width: 800px;
  color: #ffffff;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 20px;
}

.red-block .p1 { left: 0px; max-width: 100%; }
.red-block .p2 { left: 260px; width: 770px; max-width: 100%; }
.red-block .p3 { left: 585px; width: 600px; max-width: 100%; }

.image_wrapper {
  position: relative;
  display: inline-block;
}

.image_wrapper img {
  display: block;
  width: 100%;
  height: auto;
}

.image_wrapper h1 {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 50px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
  margin: 0 auto;
}

form label {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 18px;
}

form input,
form textarea {
  padding: 10px;
  font-size: 16px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
}

form button {
  padding: 12px;
  font-family: "Alumni Sans", Arial, sans-serif;
  font-size: 70px;
  font-weight: 700;
  background-color: #D51A21;
  color: white;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  margin-bottom: 30px;
}

form button:hover {
  background-color: #b0171a;
}

.has-submenu {
  position: relative;
  cursor: pointer;
  padding-right: 20px; 
}

.has-submenu::after {
  content: '';
  display: inline-block;
  width: 10px;   
  height: 10px; 
  background-image: url('../images/icons/arrow.svg'); 
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;     
  top: 50%;
  transform: translateY(-50%);
}



@media (max-width: 1200px) {

   .card_block {
    flex-direction: column; 
    justify-content: flex-start;
    
  }


  .header_ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 90%;
    left: 0;
    width: 100%;
    background: white;
  
    padding: 20px 0px;
    gap: 20px;
    z-index: 100;
    border: #e9e1d7 solid 3px;
  }

  .header_ul.active {
    display: flex;
  }

  .burger {
    display: flex;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px;
  }

  .footer-container .column {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-logo {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .footer_ul {
    font-size: 20px;
  }

  main,
  header,
  footer,
  .red-block,
  .about_grid,
  .nav-container,
  .footer-container {
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
  }

  .about_grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 20px;
  }

  .left, .right_top, .right_bottom {
    grid-column: 1;
    grid-row: auto;
  }

  .right_bottom {
    order: -1;
    text-align: left;
  }

  .red-block {
    padding: 50px 20px;
  }

  .red-block .container {
    max-width: 95%;
    margin: 0;
  }

  .red-block p, .red-block .p1, .red-block .p2, .red-block .p3 {
    position: static;
    width: 100%;
    max-width: 100%;
    left: 0;
    text-align: left;
    margin-bottom: 20px;
  }

  form {
    max-width: 100%;
    padding: 0 20px;
  }

  form button {
    font-size: 40px;
    padding: 10px;
  }
}

@media (max-width: 768px) {

    footer h4{ margin-top: 10px;}
  main {
    width: 100%;
    padding: 0 20px;
  }

  h1, h2, h3 {
    font-size: calc(1.5rem + 1vw);
  }

  .card {
  }

  .red-block p {
    font-size: 18px;
  }

  form button {
    font-size: 40px;
  }
}

@media (max-width: 575px) {


    
     .in_card_text {
    gap: 10px; 
  }

  .undertext {
    font-size: clamp(16px, 3vw, 20px);
  }

   .card_block {
    flex-direction: column; 
    justify-content: flex-start;
  }







  .red-block p {
    font-size: 16px;
  }

  form input, form textarea {
    font-size: 14px;
  }

  form button {
    font-size: 35px;
    padding: 8px;
  }

  .footer_ul {
    font-size: 16px;
  }
}

@media (max-width: 430px) {
  h1, h2, h3 {
    font-size: calc(2rem + 1vw);
  }

  .image_wrapper h1 {
  position: absolute;
  right: 10px;
  bottom: 5px;
  font-size: calc(2rem);
}
  

  .red-block p {
    font-size: 14px;
  }

  form input, form textarea {
    font-size: 12px;
  }

  form button {
    font-size: 30px;
    padding: 6px;
  }

  .header_ul {
    gap: 15px;
  }

  .footer-container {
    gap: 15px;
    padding: 10px;
  }
}
